@import "tailwindcss";

@theme {
  --color-brand-dark: #114b5f;
  --color-brand-primary: #1a936f;
  --color-brand-light: #88d498;
  --color-brand-pale: #c6dabf;
  --color-background: #f3e9d2;
  --color-danger: #b91c1c;
}

@layer base {
  * {
    @apply border-gray-200 outline-gray-500/50;
  }
  body {
    @apply bg-brand-pale text-brand-dark;
  }
}
