@import "tailwindcss";

body {
  --color-brand-dark: #114b5f;
  --color-brand-primary: #1a936f;
  --color-brand-light: #88d498;
  --color-brand-pale: #c6dabf;
  --color-background: #f3e9d2;
  --color-danger: #b91c1c;
}
