@import "tailwindcss";

@theme {
  --color-brand-dark: #114B5F;
  --color-brand-primary: #1A936F;
  --color-brand-light: #88D498;
  --color-brand-pale: #C6DABF;
  --color-background: #F3E9D2;
  --color-danger: #B91C1C;
}
